body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.welcome {
  height: 100vh;
  width: 100%;
  display: flex;
}



.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #dfd78c;
  font-size: 30px;
  text-align: center;
}

.text p{
  color: #dfd78c;
  font-size: 15px;
  text-align: center;
}

.left {
  background: #252a32;
  width: 50%;
  display: inline-block;
  text-align: right;


}

.right {
  background: #538bb9;
  width: 50%;
  display: inline-block;
  text-align: left;
}

#welcome .left {
  height: 100vh;

}

#welcome .right {
  height: 100vh;
}
.page{
  display: flex;
}
.page.boxy {
  width: 50%;
  height: 300px;
  background: #252a32;
  padding: 20px;
  text-align: left ;
}

.page.boxy.github{
  height: 400px;
  background-color: #538bb9;
  transition: background-color 0.3s;

}
.page.boxy.github:hover{
  background-color: #4778a0;

}
.page.boxy.github2{
  height: 400px;
  background-image: url("/portfolio/img/github_bg.png");
  background-size: 50%;
  /*background-repeat: repeat-y;*/
  background-position: right;
  background-attachment: fixed;
}

.page.boxy.projects{
  height: 400px;
  background-color: #5bb953;

}
.page.boxy.projects2{
  height: 400px;
  background-color: #b95353;
}

.page.boxy.profiles{
  height: 400px;
}
.page.boxy.profiles2{
  height: 400px;
  background-color: #b95353;

}

.page.boxy.pic1{
  background: rgba(0, 0, 0, 0);
  background-image: url("/portfolio/img/ralph_big.jpg");
  background-size: 200%;
  background-repeat: repeat-y;
  background-position: right;
  background-attachment: fixed;
}

.page.boxy h1{
  color: #dfd78c;
  font-size: 30px;
  text-align: left;
  display: block;
}

.page.boxy a{
  color: #dfd78c;
  display: grid;
  box-sizing: content-box;
  text-decoration: none;
  font-size: 20px;
}
