html {
  background-color: #4f5e72;
}

body {
  font-family: Helvetica, sans-serif;
  width: 1000px;
  margin: 0 auto;
/*  background-color: #9797a0;*/
 /* border: #292930 1px solid;*/
}

header {
  background-color: #ffa6a5;
  padding: 1px;
  text-align: center;
  box-shadow: 0px 0px 10px #000000;
}

header h1 {
  font-size: 30px;
  color: black;
}

footer {
  background-color: white;
  padding: 1px 10px;
  text-align: center;
  color: black;
}

.box {
  width: 100%;
  background-color: #a4c0ca;
  border: 1px solid #8e8e8e;
  margin: 20px 0;
  padding: 10px 0;
  box-sizing: border-box;
  border-right: 10px #ffa6a5 solid;
  box-shadow: 0px 0px 10px #000000;
}

.box p {
  padding: 10px 10px;
}

.box2 {
  border-right: 10px #ffa6a5 solid;
}

.box3 {
  border-right: 10px #ffa6a5 solid;
}

.box4 {
  border-right: 10px #ffa6a5 solid;
}

.projectbox {
  width: 350px;
  border: 2px dashed #a0aeaf;
  margin: 10px;
  background-color: #b9d6e0;
  padding: 5px;
}

h2 {
  font-size: 30px;
  display: inline-block;
  background-color: #edf7b7;
  color: #ffa6a5;
  padding: 10px;
}
