html {
  background-color: #1b1b1f;
  color: #eaf7f5;
}

body {
  font-family: Helvetica, sans-serif;
  width: 1000px;
  margin: 0 auto;
/*  background-color: #9797a0;*/
 /* border: #292930 1px solid;*/
}

header {
  background-color: #242d3c;
  padding: 1px;
  text-align: center;
  box-shadow: 0px 0px 10px #000000;
}

header h1 {
  font-size: 30px;
  color: #eaf7f5;
}

footer {
  background-color: #242d3c;
  padding: 1px 10px;
  text-align: center;
  color: white;
}

.box {
  width: 100%;
  background-color: #242d3c;
  border: 1px solid #424242;
  margin: 20px 0;
  padding: 10px 0;
  box-sizing: border-box;
  border-right: 10px #f12432 solid;
  box-shadow: 0px 0px 10px #000000;
  font-variant-caps: petite-caps;

}

.box h2 {
  background-color: #f12432;
}

.box p {
  padding: 10px 10px;
}

.box2 {
  border-right: 10px #9293a0 solid;
}

.box2 h2 {
  background-color: #9293a0;
}

.box3 {
  border-right: 10px #903c6a solid;
}

.box3 h2 {
  background-color: #903c6a;
}

.box4 {
  border-right: 10px #4a903c solid;
}

.box4 h2 {
  background-color: #4a903c;
}

.projectbox {
  align-self: center;
  border: 5px dashed #242d3c;
  margin: 10px;
  background-color: #819490;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content {
  width: 410px;
  margin: 30px;
  box-sizing: border-box;
  float: right;
}

h2 {
  font-size: 30px;
  display: inline-block;
  background-color: #3d6290;
  color: #eaf7f5;
  padding: 10px;
}
