body {
  background-color: rgba(255, 245, 180, 0.64);
  margin: 0 auto;
  border: 100px solid transparent;
  font-family: Helvetica, sans-serif;
}

em {
  background-color: #d14635;
}

span {
  background-color: #d14635;
  margin: 30px;
  padding: 40px;
  display: block;
  width: 100%;
  box-sizing: border-box;

}

b {
  background-color: #35c4d1;
  border: #d14635 1px solid;
  padding: 10px;
}

a {
  background-color: #d14635;
}

.image {
  background: #999999 url("https://cdn.rios.hu/design/ha/logo.png") 0 0 no-repeat;
  background-size: contain;
  background-color: #f2f2f2;
  width: 300px;
  height: 150px;
  float: right;
  margin: 0 10px 10px 10px;
}

.row {
  clear: both;
  padding: 0;
  background: #35c4d1;
  width: 440px;
  margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col{
  border: 3px solid #d14635;
  padding: 10px;
  background-color: #483a94;
  float: left;
  margin-left: 20px;
  width: 100px;
  box-sizing: border-box;
}

.col:first-child {
  margin-left: 100px;
}
